.inputForm {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inputItem + .inputItem {
  margin-top: 1rem;
}

.inputButton {
  margin-top: 1rem;
  height: 2rem;
}
